In [15]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB

In [3]:
data = pd.read_csv('Datasets/credit_card.csv')

In [4]:
data.shape

(1319, 12)

In [5]:
data.head()

,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,yes,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5

In [7]:
le = LabelEncoder()
data['card'] = le.fit_transform(data['card'])

In [12]:
scaler = MinMaxScaler()
data['age'] = scaler.fit_transform(data[['age']])
data['income'] = scaler.fit_transform(data[['income']])

In [13]:
data.head()

,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,1,0,0.450,0.324304,0.033270,124.983300,yes,no,3,54,1,12
1,1,0,0.397,0.166290,0.005217,9.854167,no,no,3,34,1,13
2,1,0,0.402,0.322799,0.004156,15.000000,yes,no,4,58,1,5
3,1,0,0.364,0.175320,0.065214,137.869200,no,no,0,25,1,7
4,1,0,0.384,0.720594,0.067051,546.503300,yes,no,2,64,1,5

In [14]:
x = data[['age','income']]
y = data['card']

In [16]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.2)

In [17]:
model = GaussianNB()
mt = model.fit(xtrain,ytrain)

In [18]:
ypred_test = model.predict(xtest)

In [19]:
accuracy_score(ytest,ypred_test)*100

76.13636363636364